<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>O'Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Purecss -->
    <link rel="stylesheet" href="css/pure.min.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
    <!-- CSS Maison -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>