<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>O'Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Purecss -->
    <link rel="stylesheet" href="css/pure.min.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
    <!-- CSS Maison -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="pure-g">
      <header class="banner pure-u-1 pure-u-md-1-4 pure-u-xl-1-6">
        <a href="/" title="Retour à l'accueil">
          <img class="banner-logo pure-img" src="images/logo.svg" alt="Logo de O'Blog">
        </a>
        <nav class="banner-menu pure-menu">
          <ul class="pure-menu-list">
            <li class="pure-menu-item"><a target="_blank" href="https://oclock.io" class="pure-menu-link">O'clock</a></li>
            <li class="pure-menu-item"><a target="_blank" href="https://expressjs.com" class="pure-menu-link">Express</a></li>
            <li class="pure-menu-item"><a target="_blank" href="http://purecss.io" class="pure-menu-link">Pure</a></li>
          </ul>
        </nav>
      </header>