<%- include('partials/head') %>

    <div class="pure-g">
      <header class="banner pure-u-1 pure-u-md-1-4 pure-u-xl-1-6">
        <a href="/" title="Retour à l'accueil">
          <img class="banner-logo pure-img" src="images/logo.svg" alt="Logo de O'Blog">
        </a>
        <nav class="banner-menu pure-menu">
          <ul class="pure-menu-list">
            <li class="pure-menu-item"><a target="_blank" href="https://oclock.io" class="pure-menu-link">O'clock</a></li>
            <li class="pure-menu-item"><a target="_blank" href="https://expressjs.com" class="pure-menu-link">Express</a></li>
            <li class="pure-menu-item"><a target="_blank" href="http://purecss.io" class="pure-menu-link">Pure</a></li>
          </ul>
        </nav>
      </header>
      <main class="content pure-u-1 pure-u-md-3-4 pure-u-xl-5-6">
        <h1 class="content-title">Les actualités du blog</h1>
        <div class="pure-g">
          
            <!-- J'inclue de façon provisoire la liste complète des articles -->
            <%- include('articles') %>

        </div>
      </main>
    </div>

    <%- include('partials/foot') %>